h1 {
  text-align:center;
}

#new-book-btn {
  display:block;
  margin: 0 auto;
}

#booklist {
  display:flex;
  list-style:none;
  width:80%;
  flex-wrap:wrap;
  margin:0 auto;
  padding:0;
  justify-content:space-around;
}

.book {
  display:flex;
  flex-direction:column;
  margin:10px;
  width: 240px;
  background-color: lightblue;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  padding:5px;
}

#form-container {
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  justify-content:center;
}

#book-form {
  display:flex;
  flex-direction:column;
  position:relative;
  top:200px;
  left:0;
  right:0;
  width:300px;
  max-height:300px;
  text-align:center;
  padding:2em;
  background-color:white;
  border-radius:5px;
  justify-content:space-around;
}

#close {
  font-size:2em;
  align-self:flex-end;
}

#close:hover,
#close:focus {
  cursor:pointer;
  color:black;
}